<div class="row detail">
	<div class="col-md-7">
		<h2 style="font-family: 'Roboto', sans-serif;">
			<strong>{{ctrl.json.cust_name}} (Age: {{ctrl.json.age}})</strong>
		</h2>
		<div class="row">
			<div class="col-md-3 hidden-sm img-thumbnail">
					Photo
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading" style="text-align:start;font-style:bold">
						<strong>Basic Information</strong>
						<div class="glyphicon glyphicon-bookmark" style="float:right"></div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover table-striped table-condensed">				
							<tbody>
								<tr>
									<td>Marital Status</td>
									<td>{{ctrl.json.category}}</td>
								</tr>
								<tr>
									<td>Region</td>
									<td>{{ctrl.json.region}} <span class="glyphicon glyphicon-map-marker" style="float:right"></span></td>
								</tr>
								<tr>
									<td>Alamat</td>
									<td>{{ctrl.json.alamat}} <span class="glyphicon glyphicon-map-marker" style="float:right"></span></td>
								</tr>
								<tr>
									<td>Kriteria</td>
									<td>{{ctrl.json.kriteria}}</td>
								</tr>
								<tr>
									<td>City</td>
									<td>{{ctrl.json.city}}</td>
								</tr>
								<!--tr>
							<td>Region</td>
							<td>{{ctrl.json.region}}</td>
						</tr-->
								<tr>
									<td>Country</td>
									<td>{{ctrl.json.country}}</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			
			</div>
		</div>
	</div>
  <div class="col-sm-5">
	<div class="row">
		<table id="kalbe-product">
			<thead>
			</thead>
			<tbody>
				<tr>
					<td width="150px">
						<div class="btn btn-primary img-rounded" data-toggle="collapse" data-target="#demo1">
							<h4>Woods Expectorant Anak</h4>
							<div id="demo1" class="collapse" style="font-size:x-small">
								<span><p/>Kriteria: ANAK</span>
								<span><br/>Tipe Penyakit: Batuk Berdahak</span>
								<span><br/>Jenis Obat: Botol</span>
							</div>
						</div>
					</td>
					<td width="150px">
						<div class="btn btn-primary img-rounded" data-toggle="collapse" data-target="#demo2">
							<h4>Paracetamol Anak</h4>
							<div id="demo2" class="collapse" style="font-size:x-small">
								<span><p/>Kriteria: ANAK</span>
								<span><br/>Tipe Penyakit: Demam</span>
								<span><br/>Jenis Obat: Batuk Kering</span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td width="150px">
						<div class="btn btn-success img-rounded" data-toggle="collapse" data-target="#demo3">
							<h4>Procold Flu Anak</h4>
							<div id="demo3" class="collapse" style="font-size:x-small">
								<span><p/>Kriteria: ANAK</span>
								<span><br/>Tipe Penyakit: Pusing</span>
								<span><br/>Jenis Obat: Kaplet</span>
							</div>
						</div>
					</td>
					<td width="150px">
						<div class="btn btn-success img-rounded" data-toggle="collapse" data-target="#demo4">
							<h4>Woods Expectoran</h4>
							<div id="demo4" class="collapse" style="font-size:x-small">
								<span><p/>Kriteria: DEWASA</span>
								<span><br/>Tipe Penyakit: Batuk Berdahak</span>
								<span><br/>Jenis Obat: Botol</span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td width="150px">
						<div class="btn btn-warning img-rounded" data-toggle="collapse" data-target="#demo5">
							<h4>Procold Flu & Batuk</h4>
							<div id="demo5" class="collapse" style="font-size:x-small">
								<span><p/>Kriteria: DEWASA</span>
								<span><br/>Tipe Penyakit: Batuk Kering</span>
								<span><br/>Jenis Obat: Kaplet</span>
							</div>
						</div>
					</td>
					<td width="150px">
						<div class="btn btn-warning img-rounded" data-toggle="collapse" data-target="#demo6">
							<h4>Neuralgin Pain</h4>
							<div id="demo6" class="collapse" style="font-size:x-small">
								<span><p/>Kriteria: DEWASA</span>
								<span><br/>Tipe Penyakit: Cedera</span>
								<span><br/>Jenis Obat: Tube</span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td width="150px">
						<div class="btn btn-danger img-rounded" data-toggle="collapse" data-target="#demo7">
							<h4>Paracetamol</h4>
							<div id="demo7" class="collapse" style="font-size:x-small">
								<span><p/>Kriteria: DEWASA</span>
								<span><br/>Tipe Penyakit: Demam</span>
								<span><br/>Jenis Obat: Kaplet</span>
							</div>
						</div>
					</td>
					<td width="150px">
						<div class="btn btn-danger img-rounded" data-toggle="collapse" data-target="#demo8">
							<h4>Promag Tablet</h4>
							<div id="demo8" class="collapse" style="font-size:x-small">
								<span><p/>Kriteria: DEWASA</span>
								<span><br/>Tipe Penyakit: Maag</span>
								<span><br/>Jenis Obat: Kaplet</span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td width="150px">
						<div class="btn btn-info img-rounded" data-toggle="collapse" data-target="#demo9">
							<h4>Counterpain</h4>
							<div id="demo9" class="collapse" style="font-size:x-small">
								<span><p/>Kriteria: DEWASA</span>
								<span><br/>Tipe Penyakit: Nyeri Sendi</span>
								<span><br/>Jenis Obat: Tube</span>
							</div>
						</div>
					</td>
					<td width="150px">
						<div class="btn btn-info img-rounded" data-toggle="collapse" data-target="#demo10">
							<h4>Procold Flu</h4>
							<div id="demo10" class="collapse" style="font-size:x-small">
								<span><p/>Kriteria: DEWASA</span>
								<span><br/>Tipe Penyakit: Pusing</span>
								<span><br/>Jenis Obat: Kaplet</span>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	</div>
    <!-- note -->
    <!--uib-tabset type="pills">
      <uib-tab ng-if="ctrl.type==='json'">
        <uib-tab-heading>JSON</uib-tab-heading>
        <div class="col-sm-9">
          <json-explorer data="ctrl.json"></json-explorer>
        </div>
      </uib-tab>
      <uib-tab ng-if="ctrl.type==='xml' || ctrl.type==='txt'">
        <uib-tab-heading >XML</uib-tab-heading>
        <div class="col-sm-9">
          <pre class="pre-xml">{{ctrl.xml}}</pre>
        </div>
      </uib-tab>
      <uib-tab ng-if="ctrl.type==='binary'">
        <uib-tab-heading >Binary</uib-tab-heading>
        <div class="col-sm-9">
          <a target="_blank" ng-href="/v1/documents?uri={{ctrl.uri}}&transform=download"
             class="btn btn-default">Download</a>
        </div>
      </uib-tab>
    </uib-tabset-->
  </div>
  <div class="col-sm-12 col-md-5">
	<div class="row">
    <div id="buttons-detail">
      <button class="btn btn-default" ui-sref="root.search">Search</button>
      <button class="btn btn-primary"
              ng-show="!rootCtrl.currentUser.disallowUpdates" 
              ui-sref="root.edit({uri: ctrl.uri, prev: 'root.view'})">Edit</button>
      <button class="btn btn-primary"
              ng-show="!rootCtrl.currentUser.disallowUpdates" 
              mwl-confirm
              title="This will permanently delete {{ctrl.uri}}, are you sure?"
              confirm-text="Yes"
              cancel-text="No"
              placement="bottom"
              on-confirm="ctrl.delete()"
              on-cancel="cancelClicked = true"
              confirm-button-type="danger"
              cancel-button-type="default">Delete</button>
    </div>
    <br>
    <!-- show (links to) similar documents -->
    <!-- div class="panel panel-default">
      <div class="panel-heading">Similar</div>
      <div class="panel-body">
        <ml-similar uri="{{ctrl.uri}}" limit="5"></ml-similar>
      </div>
    </div-->
  </div>
  </div>
</div>
